<div class="course-container">
    <div class="row">
        <div class="col-md-12">
            <app-navbar></app-navbar>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-12">
            <div class="max-container">
                <div class="card mx-3">
                    <div class="card-header">
                        <h3 class="card-header-title">Search Filters</h3>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="courseForm" (ngSubmit)="getCourse()">
                            <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Course ID</label>
                              <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="courseId" />
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputPassword1" class="form-label">Description</label>
                              <input type="text" class="form-control" id="exampleInputPassword1" formControlName="description" />
                            </div>
                            <div class="text-end">
                                <button type="button"  class="btn btn-warning me-4" (click)="cleanInputs()">Clear</button>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><app-course-form-modal #modal></app-course-form-modal></div>
    </div>
    <div class="row pt-5">
        <div class="col-md-12">
            <div class="max-container">
                <div class="card mx-3">
                    <div class="card-header">
                        <h3 class="card-header-title">Courses</h3>
                    </div>
                    <div class="card-body">
                        <div class="text-end">
                            <button type="button" class="btn btn-success" (click)="openModal()">
                                Add
                            </button>
                        </div>
                        <app-datatable [headers]="headers" [data]="data"></app-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>